<mat-toolbar color="secondary" style="height: 10%; margin-bottom: 40px;">
    <span style="font-family:'Segoe UI', Tahoma; display: flex; align-items: center;">
        <div class="round-image">
            <img src="/assets/images/new.jpg" alt="Logo" class="logo">
        </div>
        <div class="ega">EGA_BANK</div>
    </span>
    <div class="spacer"></div>
    <a mat-button class="button-margin">Services</a>
    <a mat-button class="button-margin">About us</a>
    <a mat-button class="button-margin">Contact us</a>
    <a mat-raised-button color="secondary" class="button-margin" routerLink="../login" >Login</a>
</mat-toolbar>