.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030b50;
    color: #ffffffbe;
    padding: 10px;
  }
  .bank-logo {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin-left: 10px; 
  }
  
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .sign-out a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  .bottom-section {
    margin-top: 3cm;
    padding: 20px;
    background-color: #c5c4c8;
    border: 2px solid #767779; 
    border-radius: 10px; 
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
    margin-right: 7cm;
    margin-left: 2cm;
}

.bottom-section h2 {
    margin-bottom: 10px;
    color: #333; 
}

.bottom-section p {
    margin-bottom: 20px;
    color: #555; 
}

.create-account-btn {
    padding: 10px 20px;
    background-color: #030b50;
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.credit-card-logo {
    margin-right: 10px;
    max-width: 20px;
    height: auto;
  
}
.barré{
    max-width: 30px;
    max-height: 30px;
    border-radius: 50px;
}
.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* ou la largeur souhaitée */
  height: 100vh;
  background-color: #c5c4c8; /* couleur de fond de la sidebar */
  border-left: 1px solid #ccc; /* bordure à gauche de la sidebar */
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1); /* ombre à gauche de la sidebar */
  transform: translateX(100%); /* déplace la sidebar hors de la vue initiale */
  transition: transform 0.3s ease-in-out; /* ajoute une transition fluide */

  &.active {
    transform: translateX(0); /* affiche la sidebar lorsqu'elle est active */
  }

  p {
    padding: 10px;
  }

  i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333; /* couleur de l'icône */
  }
}





  