<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (hash)" crossorigin="anonymous" />

</head>
<div class="top-bar">
    <div class="logo">
        <img src="assets/images/logo2.jpg" alt="Ega Bank Logo" class="bank-logo">EGA_BANK
    </div>
    <div class="nav-links">
        <a routerLink="/transactions"><i class="fas fa-history"></i> Historique des transactions</a>
    </div>
    <div class="sign-out">
        <a href="#" (click)="signOut()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
    </div>
</div>
<div class="bottom-section">
    <h2><img src="assets/images/stop.jpeg" alt="Carte Bancaire" class="barré"> Aucun compte enregistré </h2>
    <hr>
    <p>Vous n'avez actuellement aucun compte enregistré. Cliquez ci-dessous pour créer un nouveau compte.</p>
    <a href="#" class="create-account-btn">
        <img src="assets/images/card.jpeg" alt="Carte Bancaire" class="credit-card-logo">
        Creér un compte
    </a>
    
</div>