<section class="sign-in-page">
    <div class="container sign-in-page-bg mt-5 p-0">
        <div class="row no-gutters">
            <div class="col-md-6 text-center">
                <div class="sign-in-detail text-white">
                    <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="0">
                        <div class="item">
                            <img src="assets/images/loading.2.jpg" class="img-fluid mb-4" alt="logo"> 
                            <p>Adresse : Rue du Lac d'Annecy,  Les Berges du Lac 1053, Tunis, Tunisie.</p>
                            <p>Téléphone : (+228) 93 93 93 95 | (+228) 70 70 70 70</p>
                            <p>E-mail : contact@pi.tn</p><br><br>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <div class="sign-in-from">
                    <h1 class="mb-0">Connexion</h1> 
                    <form class="mt-4" >
                        <div class="form-group">
                            <label>E-mail :</label>
                            <input type="text" class="form-control mb-0"  >
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label> 
                            <input type="password" class="form-control mb-0"  >
                        </div>
                        <div class="sign-info">
                            <span class="dark-color d-inline-block line-height-2">vous n'avez pas de compte ? <a routerLink="../register">Créer un Compte</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
