
:host {
    display: block;
    background: linear-gradient(to bottom, #010c42); /* Dégradé sombre */
    color: #010201; /* Couleur du texte pour un meilleur contraste */
    height: 100%;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}