/* styles.css ou login.component.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    padding: 20px;
}

div {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    color:#030b50;
}

div {
    margin-bottom: 10px;
}

.Bottom-image {
    text-align: center;
}
.rounded-image {
    border-radius: 50%;
}

.Bottom-image img {
    max-width: 200%; 
    height: auto; 
    margin: 0 auto;
}
.btn{
    color: #ffffff;
    background-color: #030b50;
}