<app-navbar></app-navbar>

<div class="content">
    <h1>Online Banking</h1>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sit nam itaque,
        omnis, molestiae quam voluptatum recusandae laboriosam,</div>
    <div>sint rerum minus adipisci dignissimos velit quo cum incidunt eaque facilis necessitatibus.</div>
    <button type="button" class="btn btn-outline-light">Get started</button>
</div>
<div class="Bottom-image">
    <img src="/assets/images/im2.png" alt="Bottom Image">
</div>
